/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run zifornd/neopred -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    //input  = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'
    input              = "${projectDir}/assets/samplesheet.csv"

    // Workflow selection option
    arcasHLA          = true
    variant_calling   = true
    variant_filtering = true
    variant_annotation = true

    // Genome references
    fasta              = '/home/saddam/reference/GRCh38.primary_assembly_chr6.genome.fa.gz'
    gtf                = '/home/saddam/reference/gencode.v45.primary_assembly_chr6.annotation.gtf.gz'
    hk_bed	           = '/home/saddam/pipeline/RIMA/nf-rima/assets/housekeeping_refseqGenes.bed'
    gtf_extra_attributes       = null
    gtf_group_features         = 'gene_name'


    // Known genome resources (optional)
    dbsnp                 = "/home/saddam/GATKBundle/dbsnp_151/dbsnp_151_00-All_chr6.vcf.gz"
    dbsnp_tbi             = "/home/saddam/GATKBundle/dbsnp_151/dbsnp_151_00-All_chr6.vcf.gz.tbi"
    known_indels          = "/home/saddam/GATKBundle/known_indels/Mills/Mills_and_1000G_gold_standard.indels_sorted_hg38_chr6.vcf.gz"
    known_indels_tbi      = "/home/saddam/GATKBundle/known_indels/Mills/Mills_and_1000G_gold_standard.indels_sorted_hg38_chr6.vcf.gz.tbi"
    germline_resource     = "/home/saddam/GATKBundle/af_only_gnomad/af-only-gnomad_sorted_chr6.vcf.gz"
    germline_resource_tbi = "/home/saddam/GATKBundle/af_only_gnomad/af-only-gnomad_sorted_chr6.vcf.gz.tbi"
    pileup_vcf            = "/home/saddam/GATKBundle/germline_resource/small_exac_common_3_sorted_hg38_chr6.vcf.gz"
    pileup_vcftbi         = "/home/saddam/GATKBundle/germline_resource/small_exac_common_3_sorted_hg38_chr6.vcf.gz.tbi"
    pon                   = "/home/saddam/GATKBundle/pon/1000g_pon_sorted_hg38_chr6.vcf.gz"
    pon_tbi               = "/home/saddam/GATKBundle/pon/1000g_pon_sorted_hg38_chr6.vcf.gz.tbi"

}
